nav {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    box-shadow: 0px 1px 6px #00000014;
}

.nav-link {
    text-decoration: none;
    color: var(--navbar-links-color);
    font-weight: bold;
    font-size: 1.1rem;
}