footer {
    background: lightcoral;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.copyright {
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
}
.pinterest-logo {
    margin-bottom: 1rem;
    cursor: pointer;
    width: 2rem;
    margin: 0.5rem;
    transition: 0.2s all;
    opacity: 0.6;
}